html{
	height: 100%;
	margin: 7;
	padding: 7;
}
body,html{
	margin: 7;
	padding: 7;
}
body{
	background-attachment: fixed;
	background-image: url(pexels-fauxels-3183198.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
fieldset{
	background-color: white;
}
h1{
	font-family: cursive;
}
a:link{
	color: black;
}
a:visited{
	color: blue;
}